API_ID=
API_HASH=
BOT_TOKEN=
USER_SESSION=
PHONE=
SUDO_USERS=
LOG_CHAT_ID=
DOWNLOAD_DIR=downloads
FFMPEG_BINARY=ffmpeg
DISABLE_PLAY_ANNOUNCE=0
PROMO_ENABLED=1
PROMO_INTERVAL=900
PROMO_MESSAGES=
PROMO_CHANNEL=@Lover_society
SEARCH_STICKER_FILE_ID=
DOWNLOAD_STICKER_FILE_ID=
JOIN_STICKER_FILE_ID=
PLAY_STICKER_FILE_ID=
ERROR_STICKER_FILE_ID=
STICKER_RANDOM_ENABLED=1
STICKER_SET_URL=https://t.me/addstickers/BurntxMini_by_stickersthiefbot
STICKER_SET_URLS=https://t.me/addstickers/BurntxMini_by_stickersthiefbot
