[Unit]
Description=Run Lily Music Bot Auto-Update Every 6 Hours

[Timer]
OnBootSec=10min
OnUnitActiveSec=6h
Unit=lily-bot-autoupdate.service

[Install]
WantedBy=timers.target
